<!-- `.clients-wrapper` fills all available space of container -->
<div class="clients-wrapper p-1" [ngClass]="{'clients-sidebox-open': sideboxOpened}">

  <!-- `.clients-content` fills all available space of `clients-wrapper` -->
  <div [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }" class="clients-content clients-scroll">

    <!-- Header -->
    <div class="d-flex flex-wrap justify-content-between ui-bordered px-3 pt-3 mb-4">

      <div class="ng-autocomplete mb-3">
        <ng-autocomplete [data]="locationData" [searchKeyword]="keyword" placeHolder='Search by City'
          [(ngModel)]='defaultRequest.location' (selected)='selectLocation($event)'
          (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [isLoading] = isLoading [itemTemplate]="itemTemplate"
          [debounceTime]=500 [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <span [innerHTML]="item.cityName"></span>, <span [innerHTML]="item.zip"></span><br>
          <span [innerHTML]="item.countryCode"></span>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>

      <input class="form-control mb-3" style="max-width: 150px;" placeholder="From Date" name="dp" ngbDatepicker
        [displayMonths]="displayMonths" (dateSelect)="onFromDateSelect($event)" [navigation]="navigation"
        [disabled]="disabled" #d1="ngbDatepicker" (click)="d1.toggle()" [(ngModel)]='baseSearchRequest.fromDate'>

      <input class="form-control mb-3" style="max-width: 150px;" placeholder="To Date" name="dp" ngbDatepicker
        [displayMonths]="displayMonths" (dateSelect)="onToDateSelect($event)" [navigation]="navigation" [minDate]='baseSearchRequest.fromDate'
        [disabled]="disabled" #d2="ngbDatepicker" (click)="d2.toggle()" [(ngModel)]='baseSearchRequest.toDate'>

      <ng-select [items]="miles" bindLabel="label" bindValue="value" [(ngModel)]="defaultRequest.maxAllowedMiles"
        (ngModelChange)="milesChanged($event)" placeholder="Select Max Miles" [disabled]="disabled">
      </ng-select>

      <ss-multiselect-dropdown name="multiselect" [texts]="ssDropDownTexts" [settings]="ssDropDownSettings"
        [options]="ssDropDownOptions" [(ngModel)]="ssDropDownModel" (ngModelChange)="ssDropDownModelChanged($event)">
      </ss-multiselect-dropdown>

      <div>
        <button type="button" class="btn  btn-outline-primary mb-3 ml-3" (click)="resetReporters()"><span
            class="ion ion-md-refresh"></span>&nbsp;
          Reset Filters</button>
      </div>
    </div>
    <!-- Header -->

    
    <div class="row">
      <div class="col-7">
          <div class="btn-group-xs mb-2">
              <button type="button" [ngClass]="{
                'btn btn-primary':listView ,
                'btn btn-secondary':!listView}" class="cursor" (click) = 'viewChange(1)'>List</button>
              <button type="button"  [ngClass]="{
                'btn btn-primary':!listView ,
                'btn btn-secondary':listView}" class="cursor" (click) = 'viewChange(2)'>Grid</button>
            </div>
        <!-- Clients list -->
          <div class="table-responsive ui-bordered" *ngIf="listView">
              <table class="clients-table table table-hover m-0">
                <tbody>
                  <tr *ngFor="let client of clientsData" [ngClass]="{'bg-light': selected === client && sideboxOpened}">
                    
                    <td class="align-middle py-3" (click)="selectClient(client)">
                      <div class="text-muted small mb-2"></div>
                      <ngx-avatar name= "{{client.fullName | avatarText}}"></ngx-avatar>
                    </td>
                    <td class="align-middle py-3" (click)="selectClient(client)">
                      <div class="text-muted small mb-2"> Name</div>
                      {{client.firstName}} {{client.lastName}}
                    </td>

                    <td class="align-middle py-3" (click)="selectClient(client)">
                        <div class="text-muted small mb-2">City </div>
                        {{client.city}} 
                      </td>
                    
                    <td class="align-middle py-3" (click)="selectClient(client)">
                      <div class="text-muted small mb-2">State </div>
                      {{client.state}} 
                    </td>
        
                    <td class="align-middle py-3" (click)="selectClient(client)">
                      <div class="text-muted small mb-2">Zip </div>
                      {{client.zip}}
                    </td>
        
                    <td class="align-middle h-align-middle py-3" (click)="selectClient(client)">
                      <div class="text-muted small mb-2">Distance(miles)</div>
                      {{client.distance | number : '1.2-2'}}
                    </td>
        
                    <!-- <td class="align-middle py-3" (click)="selectClient(client)">
                      <div class="text-muted small mb-2">Products</div>
                      <span >{{client.products}}
                    </td> -->
        
                    <td class="align-middle py-3">
                      <div class="text-muted small mb-2">Status</div>                                            
                        <span class="badge badge-success" *ngIf="client.status === 1">Connected</span>
                        <span class="badge badge-warning" *ngIf="client.status === 2 || !client.status">Not Connected</span>
                     
                    </td>
                    <td class="align-middle py-3">
                      <button *ngIf="client.status === 1" type="button" class="btn btn-round btn-outline-primary cursor"
                        (click)="openModalForReply(defaultModal, { windowClass: 'modal-sm animate', data: client } )">Message</button>
                      <button *ngIf="client.status === 2" type="button" class="btn btn-round btn-outline-primary cursor"
                        (click)="confirmToConnect(confirmationModal, { windowClass: 'modal-sm animate', data: client } )">Connect</button>
                    </td>
                  </tr>
        
                </tbody>
              </table>              
          </div>
        <!-- / Clients list -->

        <!-- Clients Grid -->
        <div *ngIf="!listView">
          <div class='row mr-3' *ngFor="let client of clientsData; let i = index" style="float: left">
              <div class="col-md-12" *ngIf="i%2 === 0">
                  <div class="card mb-4 cursor contact-card col-12"  [ngClass]="{'bg-light': selected === client && sideboxOpened}">
                  <div class="card-body" >
                    <div class="contact-content">
                      <div class="contact-content-about">
                        <div (click) = "selectClient(client)">
                            <div class="contact-card">
                                <ngx-avatar  name= "{{client.fullName | avatarText}}"></ngx-avatar>
                            </div>
                            
                            <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-dark">{{client.firstName}} {{client.lastName}}</a></h5>
                            <div class="contact-content-user text-muted small mb-2" *ngIf="client.onSiteAvailability">Availibility - Onsite</div>
                            <div class="contact-content-user text-muted small mb-2" *ngIf="!client.onSiteAvailability">Availibility - Offsite</div>
                            <div class="small">
                              <div *ngIf="client.companyName">Company - {{client.companyName}}</div>            
                              <div *ngIf="client.city">{{client.city}} , {{client.state}}</div>
                              <div *ngIf="client.zip">{{client.zip}}</div>
                            </div>
                        </div>
                        
                        <hr class="border-light">
                        <div class="row">    
                            <button type="button" class="btn btn-round btn-outline-danger cursor" (click)="confirmToConnect(confirmationModal, { windowClass: 'modal-sm animate', data: client } )">Disconnect</button>
                            &nbsp;&nbsp;<span class="text-lighter"> |</span> &nbsp;&nbsp;
                          <button type="button" class="btn btn-round btn-outline-success cursor" (click)="openModalForReply(defaultModal, { windowClass: 'modal-sm animate', data: client } )">Message</button>
                        </div>
                      </div>
                    </div>
            
                  </div>
                </div>          
              </div>  
              <div class="col-md-12"  *ngIf="i%2 !== 0">
                  <div class="card mb-4 cursor contact-card col-12"  [ngClass]="{'bg-light': selected === client && sideboxOpened}">
                  <div class="card-body" >
                    <div class="contact-content">
                      <div class="contact-content-about">
                        <div (click) = "selectClient(client)">
                            <div class="contact-card">
                                <ngx-avatar  name= "{{client.fullName | avatarText}}"></ngx-avatar>
                            </div>
                            
                            <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-dark">{{client.firstName}} {{client.lastName}}</a></h5>
                            <div class="contact-content-user text-muted small mb-2" *ngIf="client.onSiteAvailability">Availibility - Onsite</div>
                            <div class="contact-content-user text-muted small mb-2" *ngIf="!client.onSiteAvailability">Availibility - Offsite</div>
                            <div class="small">
                              <div *ngIf="client.companyName">Company - {{client.companyName}}</div>            
                              <div *ngIf="client.city">{{client.city}} , {{client.state}}</div>
                              <div *ngIf="client.zip">{{client.zip}}</div>
                            </div>
                        </div>
                        
                        <hr class="border-light">
                        <div class="row">    
                            <button type="button" class="btn btn-round btn-outline-danger cursor" (click)="confirmToConnect(confirmationModal, { windowClass: 'modal-sm animate', data: client } )">Disconnect</button>
                            &nbsp;&nbsp;<span class="text-lighter"> |</span> &nbsp;&nbsp;
                          <button type="button" class="btn btn-round btn-outline-success cursor" (click)="openModalForReply(defaultModal, { windowClass: 'modal-sm animate', data: client } )">Message</button>
                        </div>
                      </div>
                    </div>
            
                  </div>
                </div>      
              </div> 
          </div>
            
          </div>
      <!-- / Clients Grid -->
      <ng-template #defaultModal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h5 class="modal-title">
              <span class="font-weight-light">Send Message to - </span> {{modalTitle}}<br>
  
            </h5>
            <button type="button" class="close" (click)="d('Cross click')">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col">
                <label class="form-label">Message</label>
                <textarea cols="4" type="text" class="form-control" placeholder="Write a message"
                  [(ngModel)]="reply.message"><textarea></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="submitReply()">Send</button>
          </div>
        </ng-template>
        <ng-template #confirmationModal let-c="close" let-d="dismiss">
          <div class="modal-header">
  
            <button type="button" class="close" (click)="d('Cross click')">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col">
                <h5 class="modal-title">
                  <span class="font-weight-light">Do you really want to connect with - </span> {{modalTitle}} ? <br>
  
                </h5>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="c('Close click')">May be later</button>
            <button type="button" class="btn btn-primary cursor" (click)="submitConnect()">Yes, Connect</button>
          </div>
        </ng-template>
        <div>
          <app-custom-pagination (pageEvent)="pageChanged($event)" [collectionSize]='collectionSize' [page]="1"
            [pageSize]="10"></app-custom-pagination>
        </div>
      </div>
      <div class="col-5" *ngIf='refreshMap'>
          <app-custom-map [markerData] = "markerData"></app-custom-map>
      </div>
    </div>
   

    
    
  </div>

  <!-- Clients sidebox -->
  <div class="clients-sidebox">
    <a (click)="closeSidebox()" href="javascript:void(0)"
      class="clients-sidebox-close text-muted text-xlarge font-weight-light">&times;</a>

    <div *ngIf="selected" [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }"
      class="clients-scroll-secondary container-p-y">

      <!-- Client info -->
      <div class="text-center p-3">
          <div class="sideboxlogo mb-3"> <ngx-avatar name= "{{selected.fullName | avatarText}}"></ngx-avatar></div>
        <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">{{selected.firstName}} {{selected.lastName}}</a>
        </h5>

        <div class="small mb-4">
          <div>State - {{selected.state}}</div>
          <div>City - {{selected.city}}</div>
          <div>Zip code - {{selected.zip}}</div>
          <div>Latitude - {{selected.latitude}}</div>
          <div>Longitude - {{selected.longitude}}</div>
        </div>

      </div>
      <!-- / Client info -->

      <hr class="border-light m-0">

      <!-- optional service -->
      <div class="p-3">
        <h6 class="mb-3">Products</h6>
        <div *ngIf="selected.products.length > 0">
          <div *ngFor="let product of selected.products; let i = index" class=""
            [ngClass]="{'mb-1': i !== (selected.products.length - 1)}">
            {{product}}
          </div>
        </div>
        <div *ngIf="selected.products.length === 0" class="text-lighter my-4">No optioal service</div>
      </div>
      <!-- / optional service -->

      <!-- Messages -->
      <div class="p-3">
        <h6 class="mb-3">Messages</h6>

        <div *ngIf="selected.messages">
          <div *ngFor="let message of selected.messages; let i = index" class="ui-bordered py-2 px-3"
            [ngClass]="{'mb-3': i !== (selected.messages.length - 1)}">
            {{message.content}}
            <div class="text-muted small mt-1">{{message.date}} ago &nbsp; | &nbsp; <a href="javascript:void(0)"
                class="text-muted">Reply</a></div>
          </div>
        </div>
        <div *ngIf="!selected.messages" class="text-lighter my-4">No messages</div>
      </div>
      <!-- / Messages -->
      
    </div>
  </div>
  <!-- / Clients sidebox -->
  
</div>
<!-- / Clients wrapper -->