<!-- Navbar -->
<nav class="landing-navbar navbar navbar-expand-lg navbar-dark fixed-top pt-lg-4" style="background-color: #504545;
opacity: .7;">
    <div class="container-fluid px-3">
      <a href="#" class="text-white navbar-brand text-big font-weight-bolder line-height-1 text-expanded py-3">YesMatch</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#landing-navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="landing-navbar-collapse">
        <div class="navbar-nav align-items-lg-center ml-lg-4">
          <a class="text-white anchor-link nav-item nav-link" pageScroll href="#features">Features</a>
          <a class="text-white anchor-link nav-item nav-link" pageScroll href="#screenshots">Screenshots</a>
          <a class="text-white anchor-link nav-item nav-link" pageScroll href="#pricing">Pricing</a>
          <a class="text-white anchor-link nav-item nav-link" pageScroll href="#crew">Crew</a>
          <!-- <a class="text-primary anchor-link nav-item nav-link" pageScroll href="#subscribe">Subscribe</a> -->
        </div>
        <div class="navbar-nav align-items-lg-center ml-auto">
          <div class="nav-item py-2 py-lg-0 ml-lg-4">
              <a href="javascript:void(0)" [routerLink]="['/adminScreenOne/list']" class="btn btn-info btn-round ">Admin</a>
            </div> 
          <div class="nav-item py-2 py-lg-0 ml-lg-4">
            <a href="javascript:void(0)" [routerLink]="['/auth/login']" class="btn btn-round btn-secondary">Sign In</a>
          </div>
          <div class="nav-item py-2 py-lg-0 ml-lg-1">
            <a href="javascript:void(0)" [routerLink]="['/auth/registration']" class="btn btn-primary btn-round">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- / Navbar -->

  <!-- Header -->
  <div class="swiper-container text-white" id="landing-slider">
    <div class="swiper-wrapper">

      <div class="swiper-slide jumbotron ui-hero ui-mh-100vh ui-bg-cover ui-bg-overlay-container overflow-hidden" style="background-image: url('assets/img/bg/21.jpg');">
        <div class="ui-bg-overlay bg-dark opacity-50"></div>

        <div class="container-fluid justify-content-center px-lg-5">
          <div class="row justify-content-center w-100 pt-3">

            <div class="col-lg-7 col-xl-6 text-lg-left text-center my-5">
              <h1 class="display-3 font-secondary font-weight-bold mb-4">
                Find your perfect Match
              </h1>
              <p class="lead pb-3">
                No more manual search for reporters. Just get your job done with your right reporter.
              </p>
              <div class="mt-2">
                <button type="button" class="landing-btn btn btn-lg btn-round btn-primary" [routerLink]="['/auth/registration']" >GET STARTED</button>
              </div>
            </div>

            <div class="col-lg-5 text-center pl-lg-5">
              <div class="ui-presentation-right ui-device macbook float-left rounded">
                <img class="device-img" src="assets/img/devices/macbook-gold.png" alt>
                <div class="device-content">
                  <img src="assets/img/uikit/app.png" alt>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="swiper-slide jumbotron ui-hero ui-bg-cover ui-bg-overlay-container py-0 m-0" style="background-image: url('assets/img/bg/20.jpg');">
        <div class="ui-bg-overlay bg-dark opacity-50"></div>

        <div class="d-flex flex-column w-100 ui-mh-100vh">

          <div class="container d-flex justify-content-center align-items-center flex-grow-1">
            <div class="row flex-basis-100 pt-5 mt-4 mt-sm-5">

              <div class="col-lg-8 text-center py-5 mx-auto">
                <h1 class="display-3 font-secondary font-weight-bold mb-4">
                  Manage All Contacts, Job Search, Schedules in one place.
                </h1>
                <p class="lead pb-3">
                  YesMatch provides the connection you need and place to organize your reporter search all in one place.
                </p>
                <div class="mt-2">
                  <button type="button" class="landing-btn btn btn-lg btn-round btn-primary" [routerLink]="['/auth/registration']">GET STARTED</button>
                </div>
              </div>

            </div>
          </div>

          <div class="flex-grow-0 mx-3">
            <div class="ui-window w-100 rounded-top mx-auto" style="max-width:800px;max-height:250px;">
              <div class="window-content">
                <img src="assets/img/uikit/app.png" alt>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="swiper-slide jumbotron ui-hero ui-mh-100vh" style="background: #e8cbc0; background: linear-gradient(to right, #43cea2, #185a9d);">
        <div class="container-fluid justify-content-center px-lg-5">
          <div class="row justify-content-center w-100 pt-3">

            <div class="col-lg-4 text-center my-5 mt-sm-0 mb-lg-0">
              <div class="ui-device iphone mw-100 mx-auto" style="width: 230px;">
                <div class="device-content">
                  <img src="assets/img/uikit/app-phone.png" alt>
                </div>
                <img class="device-img" src="assets/img/devices/iphone.png" alt>
              </div>
            </div>

            <div class="col-lg-7 col-xl-6 text-lg-left text-center mx-xl-5">
              <h1 class="display-3 font-secondary font-weight-bold mb-4">
                A Lot of Features, Unlimited Platforms
              </h1>
              <p class="lead pb-3">
                Access YesMatch anywhere, everywhere, the way you wanted.
              </p>
              <div class="mt-2">
                <button type="button" class="landing-btn btn btn-lg btn-round btn-primary" [routerLink]="['/auth/registration']">GET STARTED</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div id="landing-slider-next" class="swiper-button-next custom-icon">
      <i class="lnr lnr-chevron-right text-primary"></i>
    </div>
    <div id="landing-slider-prev" class="swiper-button-prev custom-icon">
      <i class="lnr lnr-chevron-left text-primary"></i>
    </div>
  </div>
  <!-- / Header -->

  <div class="bg-white">

    <!-- Block -->
    <div class="landing-block pb-5">
      <div class="container px-3">

        <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
          <div class="display-3 text-primary mb-4">
            <i class="lnr lnr-rocket"></i>
          </div>
          <h1 class="display-4 font-secondary font-weight-semibold mb-5">
            Ultimate Tool for Professionals
          </h1>
          <div class="text-muted">
            Cut down your reseach cost by half by using YesMatch and other YesLaw applications.
          </div>
        </div>

      </div>
    </div>
    <!-- / Block -->

    <div class="landing-separator-stripes my-4"></div>

    <!-- Block -->
    <!-- <div class="landing-block pt-5">
      <div class="container px-3">
        <div class="row justify-content-between align-items-center">

          <div class="col-lg-5 col-xl-4 text-lg-left text-center mx-auto">
            <div class="text-lighter text-tiny font-weight-bold mb-3">INTRODUCING</div>
            <h1 class="display-4 font-secondary font-weight-semibold mb-4">Unlimited Possibilities</h1>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, ad eam consul vituperata. Cum assum inimicus an, his ne liber aeterno debitis. Te his iudico tollit efficiendi.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- / Block -->

  </div>

  <!-- Block -->
  <div id="features" class="landing-block">
    <div class="container px-3">

      <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
        <div class="text-lighter text-tiny font-weight-bold mb-3">FEATURES</div>
        <h1 class="display-4 font-secondary font-weight-semibold mb-4">
          Everything That You Need in One Platform
        </h1>
        <div class="lead text-muted mb-5">
          Get the power of YesMatch with YesLaw for your end to end court reporting solution.
        </div>
      </div>

      <hr class="landing-separator border-light mx-auto">

      <div class="row text-center">
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-star"></span>
          </div>
          <h5>Quick Finder</h5>
          <div class="text-muted small">

          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-picture"></span>
          </div>
          <h5>Look for available providers near you</h5>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-calendar-full"></span>
          </div>
          <h5>Find on-call providers for last minute jobs</h5>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-camera"></span>
          </div>
          <h5>Instant messaging and document sharing</h5>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-pie-chart"></span>
          </div>
          <h5>Integrated calendar system</h5>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-layers"></span>
          </div>
          <h5>Manage jobs of regular providers</h5>
          <div class="text-muted small">

          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <button type="button" class="landing-btn btn btn-primary btn-lg">LEARN MORE</button>
      </div>

    </div>
  </div>
  <!-- / Block -->

  <!-- Block -->
  <div id="screenshots" class="landing-block bg-white">
    <div class="container px-3">
      <div class="text-center text-lighter text-tiny font-weight-bold mb-3">SCREENSHOTS</div>
      <h1 class="display-4 font-secondary text-center font-weight-semibold">
        Discover The App
      </h1>
    </div>
    <hr class="landing-separator border-primary mx-auto mt-5 mb-4">

    <div class="app-preview-slider-wrapper">
      <div class="app-preview-slider swiper-container" id="landing-preview-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/img/uikit/app.png" alt="" class="img-fluid cursor-pointer">
          </div>
          <!-- <div class="swiper-slide">
            <img src="assets/img/pages/app-4.png" alt="" class="img-fluid cursor-pointer">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/pages/app-5.png" alt="" class="img-fluid cursor-pointer">
          </div>
          <div class="swiper-slide">
            <img src="assets/img/pages/app-6.png" alt="" class="img-fluid cursor-pointer">
          </div> -->
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>
  </div>
  <!-- / Block -->

  <!-- Block -->
  <!-- <div class="landing-block container px-3">

    <div class="text-center text-lighter text-tiny font-weight-bold mb-3">INSIGHTS</div>
    <h1 class="display-4 font-secondary text-center font-weight-semibold">
      How It Works
    </h1>

    <hr class="landing-separator border-success mx-auto mt-5 mb-4">

    <div class="row text-center">
      <div class="col-md-4 my-4">
        <div class="text-success mx-auto mb-4">
          <span class="ui-icon font-weight-bolder">
          <i class="ion ion-md-aperture"></i>
        </span>
        </div>
        <h5>Dapibus ac facilisis in</h5>
        <div class="text-muted small">
          Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu, cu quo alii scriptorem
        </div>
      </div>
      <div class="col-md-4 my-4">
        <div class="text-success mx-auto mb-4">
          <span class="ui-icon font-weight-bolder">
          <i class="ion ion-md-brush"></i>
        </span>
        </div>
        <h5>Cras justo odio</h5>
        <div class="text-muted small">
          Etiam vivendo eu sea, purto ponderum mediocritatem at pro. Ex tantas invenire dissentiunt mea.
        </div>
      </div>
      <div class="col-md-4 my-4">
        <div class="text-success mx-auto mb-4">
          <span class="ui-icon font-weight-bolder">
          <i class="ion ion-md-cloud-upload"></i>
        </span>
        </div>
        <h5>Porta ac consectetur ac</h5>
        <div class="text-muted small">
          Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse, harum honestatis cum te.
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button type="button" class="landing-btn btn btn-success btn-lg">LEARN MORE</button>
    </div>

  </div> -->
  <!-- / Block -->


  <!-- Block -->
  <div id="pricing" class="landing-block container px-3">

    <div class="text-center text-lighter text-tiny font-weight-bold mb-3">PRICING</div>
    <h1 class="display-4 font-secondary text-center font-weight-semibold">
      Pay Only for What You Need
    </h1>

    <hr class="landing-separator border-primary my-5 mx-auto">

    <div class="row no-gutters row-bordered text-center pt-4">

      <div class="d-flex col-md flex-column py-4">
        <h5 class="m-0">Law Firm</h5>
        <div class="flex-grow-1">
          <div class="py-4 my-2">
            <span class="d-inline-block text-muted text-big align-middle mr-2"></span>
            <span class="display-3 d-inline-block font-weight-bold align-middle"></span>
            <span class="d-inline-block text-muted text-big align-middle ml-2">Free</span>
          </div>
          <div class="pb-5">
            <p class="small mb-2">5 users</p>
            <p class="small mb-2">10 projects</p>
            <p class="small mb-0">100GB space</p>
          </div>
        </div>
        <div class="px-md-3 px-lg-5">
          <button type="button" class="landing-btn btn btn-outline-primary btn-lg btn-round">SELECT</button>
        </div>
      </div>

      <div class="d-flex col-md flex-column py-4">
        <h5 class="m-0">Individual Reporters</h5>
        <div class="flex-grow-1">
          <div class="py-4 my-2">
            <span class="d-inline-block text-muted text-big align-middle mr-2">$</span>
            <span class="display-3 d-inline-block font-weight-bold align-middle">20</span>
            <span class="d-inline-block text-muted text-big align-middle ml-2">/ mo</span>
          </div>
          <div class="pb-5">
            <p class="small mb-2">20 users</p>
            <p class="small mb-2">100 projects</p>
            <p class="small mb-0">300GB space</p>
          </div>
        </div>
        <div class="px-md-3 px-lg-5">
          <button type="button" class="landing-btn btn btn-primary btn-lg btn-round">SELECT</button>
        </div>
      </div>

      <div class="d-flex col-md flex-column py-4">
        <h5 class="m-0">Firm</h5>
        <div class="flex-grow-1">
          <div class="py-4 my-2">
            <span class="d-inline-block text-muted text-big align-middle mr-2">$</span>
            <span class="display-3 d-inline-block font-weight-bold align-middle">50</span>
            <span class="d-inline-block text-muted text-big align-middle ml-2">/ mo</span>
          </div>
          <div class="pb-5">
            <p class="small mb-2">Unlimited users</p>
            <p class="small mb-2">Unlimited projects</p>
            <p class="small mb-0">1000GB space</p>
          </div>
        </div>
        <div class="px-md-3 px-lg-5">
          <button type="button" class="landing-btn btn btn-outline-primary btn-lg btn-round">SELECT</button>
        </div>
      </div>

    </div>

    <div class="text-center pt-4 mt-5">
      <a href="#" class="text-muted">Get started with a 14-day no-obligation free trial</a>
    </div>

  </div>
  <!-- / Block -->

  <!-- Block -->
  <div id="crew" class="landing-block bg-light">
    <div class="container px-3">

      <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
        <h1 class="display-4 font-secondary font-weight-semibold">
          The Crew
        </h1>
        <div class="lead text-muted pb-3 mt-4 mb-5">
          YesMatch is brough to you by the same crew who created YesLaw.
        </div>
      </div>

      <div class="row text-center">
          <div class="col-sm-6 col-lg-4 p-4">
              <img src="assets/img/avatars/3.png" class="ui-w-120 rounded-circle mb-4" alt>
              <h5 class="font-weight-bold mb-2">Brian Clune</h5>
              <div class="text-light small mb-3">VP</div>
              <div class="text-muted small">
              </div>
        </div>

        <div class="col-sm-6 col-lg-4 p-4">
                <img src="assets/img/avatars/5.png" class="ui-w-120 rounded-circle mb-4" alt>
                <h5 class="font-weight-bold mb-2">John Garnett</h5>
                <div class="text-light small mb-3">Product Manager</div>
                <div class="text-muted small">
                </div>
        </div>

        <div class="col-sm-6 col-lg-4 p-4">
            <img src="assets/img/avatars/2.png" class="ui-w-120 rounded-circle mb-4" alt>
            <h5 class="font-weight-bold mb-2">Melvin</h5>
            <div class="text-light small mb-3">Senior QA</div>
            <div class="text-muted small">
            </div>
          </div>

        <div class="col-sm-6 col-lg-4 p-4">
          <img src="assets/img/avatars/1.png" class="ui-w-120 rounded-circle mb-4" alt>
          <h5 class="font-weight-bold mb-2">Daniel Garcia</h5>
          <div class="text-light small mb-3">IT / QA</div>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 p-4">
          <img src="assets/img/avatars/4.png" class="ui-w-120 rounded-circle mb-4" alt>
          <h5 class="font-weight-bold mb-2">Roger </h5>
          <div class="text-light small mb-3">Senior Software engineer</div>
          <div class="text-muted small">
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 p-4">
          <img src="assets/img/avatars/6.png" class="ui-w-120 rounded-circle mb-4" alt>
          <h5 class="font-weight-bold mb-2">Guru Kathiresan</h5>
          <div class="text-light small mb-3">Engineering Manager</div>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 p-4">
          <img src="assets/img/avatars/7.png" class="ui-w-120 rounded-circle mb-4" alt>
          <h5 class="font-weight-bold mb-2">Rachita Chakrabarti</h5>
          <div class="text-light small mb-3">Software engineer</div>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 p-4">
          <img src="assets/img/avatars/8.png" class="ui-w-120 rounded-circle mb-4" alt>
          <h5 class="font-weight-bold mb-2">Nabarag Paul</h5>
          <div class="text-light small mb-3">Software engineer</div>
          <div class="text-muted small">
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 p-4">
          <img src="assets/img/avatars/9.png" class="ui-w-120 rounded-circle mb-4" alt>
          <h5 class="font-weight-bold mb-2">Adwaitya Sadhukhan</h5>
          <div class="text-light small mb-3">Software engineer</div>
          <div class="text-muted small">
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- / Block -->

  <!-- Block -->
  <!-- <div id="subscribe" class="bg-secondary text-white py-5">
    <div class="container px-3">
      <div class="row align-items-center">

        <div class="font-secondary col-md-5 col-lg-4 text-xlarge font-weight-light">
          Join Our Newsletter
        </div>

        <div class="col-md-7 col-lg-8 mt-3 mt-md-0">
          <div class="input-group">
            <input type="email" class="form-control form-control-inverted form-control-lg bg-lighter border-0 px-3" placeholder="E-mail">
            <span class="input-group-append">
                <button type="submit" class="btn btn-primary btn-lg">Get Started</button>
              </span>
          </div>
        </div>

      </div>
    </div>
  </div> -->
  <!-- / Block -->

  <!-- Footer -->
  <nav class="footer bg-white pt-4">
    <div class="container text-center py-4">
      <div class="pb-3">
        <a href="#" class="footer-text text-big font-weight-bolder text-expanded">YesMatch</a>
        <span class="align-top">©</span>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-secondary text-tiny font-weight-bold mb-3">ABOUT US</div>
          <a href="#" class="footer-link d-block small pb-2">About</a>
          <a href="#" class="footer-link d-block small pb-2">Our Story</a>
          <a href="#" class="footer-link d-block small pb-2">Careers</a>
        </div>
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-secondary text-tiny font-weight-bold mb-3">SUPPORT</div>
          <a href="#" class="footer-link d-block small pb-2">FAQ</a>
          <a href="#" class="footer-link d-block small pb-2">Support</a>
          <a href="#" class="footer-link d-block small pb-2">Consultant</a>
        </div>
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-secondary text-tiny font-weight-bold mb-3">PARTNERS</div>
          <a href="#" class="footer-link d-block small pb-2">Wholesale</a>
          <a href="#" class="footer-link d-block small pb-2">Office solutions</a>
          <a href="#" class="footer-link d-block small pb-2">Press Resource</a>
        </div>
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-secondary text-tiny font-weight-bold mb-3">CONNECT</div>
          <a href="#" class="footer-link d-block small pb-2">
          <i class="ion ion-logo-twitter text-twitter"></i> &nbsp;Twitter</a>
          <a href="#" class="footer-link d-block small pb-2">
          <i class="ion ion-logo-facebook text-facebook"></i> &nbsp;Facebook</a>
          <a href="#" class="footer-link d-block small pb-2">
          <i class="ion ion-logo-instagram text-instagram"></i> &nbsp;Instagram</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- / Footer -->
