<div class="clients-wrapper" [ngClass]="{'clients-sidebox-open': sideboxOpened}">

  <!-- `.clients-content` fills all available space of `clients-wrapper` -->
  <div [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }" class="clients-content clients-scroll">
    <!-- Header -->
    <div class="d-flex flex-wrap justify-content-between ui-bordered px-3 pt-3 mb-4">
        
      <div class="ng-autocomplete mb-3">
            <ng-autocomplete [data]="locationData"
            [(ngModel)]='defaultRequest.location'
             [searchKeyword]="keyword" 
             placeHolder='Search by City'
             [isLoading] = isLoading
             (selected)='selectLocation($event)'
             (inputChanged)='onChangeSearch($event)' 
             (inputFocused)='onFocused($event)'
              [itemTemplate]="itemTemplate" 
              [debounceTime]=500 
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
    
            <ng-template #itemTemplate let-item>
              <span [innerHTML]="item.cityName"></span>, <span [innerHTML]="item.zip"></span><br>
              <span [innerHTML]="item.countryCode"></span>
            </ng-template>
    
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>


      <input class="form-control mb-3" style="max-width: 150px;" placeholder="From Date" name="dp" ngbDatepicker
        (dateSelect)="onFromDateSelect($event)" [displayMonths]="displayMonths"
        [navigation]="navigation" [disabled]="disabled" #d1="ngbDatepicker" (click)="d1.toggle()" [(ngModel)]='baseSearchRequest.fromDate'>

      <input class="form-control mb-3" style="max-width: 150px;" placeholder="To Date" name="dp" ngbDatepicker
         [displayMonths]="displayMonths" (dateSelect)="onToDateSelect($event)" [minDate]='baseSearchRequest.fromDate'
        [navigation]="navigation" [disabled]="disabled" #d2="ngbDatepicker" (click)="d2.toggle()" [(ngModel)]='baseSearchRequest.toDate'>

        <ng-select [items]="miles" bindLabel="label" bindValue="value" [(ngModel)]="defaultRequest.maxAllowedMiles" (ngModelChange)="milesChanged($event)"
        placeholder="Select Max Miles" [disabled]="disabled">
      </ng-select>

      <ss-multiselect-dropdown name="multiselect" [texts]="ssDropDownTexts" [settings]="ssDropDownSettings"
        [options]="ssDropDownOptions" [(ngModel)]="ssDropDownModel" (ngModelChange)="ssDropDownModelChanged($event)">
      </ss-multiselect-dropdown>
      <div>
            <button type="button" class="btn btn-outline-primary mb-3 ml-3" (click)="resetJobs()"><span
              class="ion ion-md-refresh"></span>&nbsp;
            Reset Filters</button>
      </div>

    </div>
    <!-- / Header -->
    
    <div class="row">
        <div class="col-7">
    <!-- Clients list -->
    <div class="table-responsive ui-bordered">
      <table class="clients-table table table-hover m-0">
        <tbody>
         
          <tr *ngFor="let client of clientsData" [ngClass]="{'bg-light': selected === client && sideboxOpened}"
            >
            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2"></div>
                <ngx-avatar name= "{{client.jobName | avatarText}}"></ngx-avatar>
              </td>
            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2">Job Title</div>
              <span class="small">{{client.jobName}}</span>
            </td>
            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2">Company</div>
                <span class="small">{{client.advertiserPartnerCompanyName}}</span>
            </td>
            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2">Location</div>
                <span class="small">{{client.locationAddress1}}</span>
            </td>

            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2"> City</div>
                <span class="small"> {{client?.locationCity}}</span>
              <!-- <div *ngIf="client.displayCity">{{client.displayCity}}</div> -->
            </td>

            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2">State </div>
                <span class="small">{{client?.locationState}}</span>
              <!-- <div *ngIf="client.displayCity">{{client.displayCity}}</div> -->
            </td>
            <!-- <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2">Zip Code</div>
              {{client.locationZip}}
            </td> -->
            <td class="" (click)="selectClient(client)">
                <div class="text-muted small mb-2">Distance</div>
                <span class="small">{{client.distance | number : '1.2-2'}} miles</span>
            </td>
            <!-- <td class="" (click)="selectClient(client)">               
                    <div class="text-muted small mb-2">Needed Service</div>
                    demoA , demoB, demoC...
            </td>
              <td class="" (click)="selectClient(client)">
                  <div class="text-muted small mb-2">Optional Service</div>
              </td> -->
            <!-- <td class="" >
                <div class="text-muted small mb-2"></div>
              <span *ngIf="client.status">
                <span class="badge badge-success" *ngIf="client.status === 1">Active</span>
                <span class="badge badge-info" *ngIf="client.status === 2">In progress</span>
                <span class="badge badge-warning" *ngIf="client.status === 3">Pending</span>
              </span>
            </td> -->
            <td class="" >
                <div class="text-muted small mb-2 ml-4">Action</div>
              <button type="button" *ngIf="!client.alreadyReplied" class="btn btn-round btn-outline-primary cursor mb-2" (click)="openModalForReply(defaultModal, { windowClass: 'modal-sm animate', data: client } )">Reply</button>
              <span *ngIf="client.alreadyReplied" class="badge badge-warning mb-2" >Already Replied</span>
              <button type="button" *ngIf="client.adPartnerInContact" class="btn btn-round btn-outline-primary cursor" (click)="openModalForReply(defaultModal, { windowClass: 'modal-sm animate', data: client } )">Message</button>
            </td>
            
          </tr>

        </tbody>
      </table>

      <ng-template #defaultModal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h5 class="modal-title">
              <span class="font-weight-light">Reply to the job - </span> {{modalTitle}}<br>
              
            </h5>
            <button type="button" class="close" (click)="d('Cross click')">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col">
                <label class="form-label">Message</label>
                <textarea cols="4" type="text" class="form-control" placeholder="Write a message" [(ngModel)]="reply.message"><textarea></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="submitReply()">OK</button>
          </div>
        </ng-template>
        <div>
            <app-custom-pagination (pageEvent)="pageChanged($event)" [collectionSize]= 'collectionSize' [page]="1" [pageSize]="10" ></app-custom-pagination>
        </div>
    </div>
    <!-- / Clients list -->
  </div>
  <div class="col-5" *ngIf='refreshMap'>
      <app-custom-map [markerData] = "markerData"></app-custom-map>
  </div>
</div>

  </div><!-- / .clients-content -->

  <!-- Clients sidebox -->
  <div class="clients-sidebox">
    <a (click)="closeSidebox()" href="javascript:void(0)"
      class="clients-sidebox-close text-muted text-xlarge font-weight-light">&times;</a>

    <div *ngIf="selected" [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }"
      class="clients-scroll-secondary container-p-y">

      <!-- Client info -->
      <div class="text-center p-3">
         <div class="sideboxlogo mb-3"> <ngx-avatar name= "{{selected.advertiserPartnerCompanyName | avatarText}}"></ngx-avatar></div>
        <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">{{selected.jobName}}</a></h5>
        
        
        <address class="small mb-4">
            Advertised by <a href="javascript:void(0)">{{selected.advertiserPartnerCompanyName}}</a>.<br> 
            Contact Person - {{selected?.advertiserContactFirstName}} {{selected?.advertiserContactLastName}}<br>
            {{selected?.locationAddress1}}<br>
            {{selected.locationCity}}, {{selected.locationState}}<br>
            {{selected.locationCountry}}, {{selected.locationZip}}
        </address>
        <!-- <div>
          <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a>
          &nbsp;&nbsp;
          <span class="text-lighter">|</span> &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a>
          &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
        </div> -->
      </div>
      <!-- / Client info -->

      <hr class="border-light m-0">

       <!-- needed service -->
       <div class="p-3">
          <h6 class="mb-3">Required Services</h6>  
          <div *ngIf="selected.requiredServices && selected.requiredServices.length > 0">
            <div *ngFor="let neededService of selected.requiredServices; let i = index" class=""
              [ngClass]="{'mb-1': i !== (selected.requiredServices.length - 1)}">
              {{requiredServices}}
              
            </div>
          </div>
          <div *ngIf="!selected.requiredServices || selected.requiredServices.length === 0" class="text-lighter my-4">No Required service Specified</div>
        </div>
        <!-- / needed service -->

         <!-- optional service -->
         <div class="p-3">
            <h6 class="mb-3">Optional Services</h6>  
            <div *ngIf="selected.optionalServices && selected.optionalServices.length > 0">
              <div *ngFor="let optionalService of selected.optionalServices; let i = index" class=""
                [ngClass]="{'mb-1': i !== (selected.optionalServices.length - 1)}">
                {{optionalService}}
                
              </div>
            </div>
            <div *ngIf="!selected.optionalServices || selected.optionalServices.length === 0" class="text-lighter my-4">No optioal service specified</div>
          </div>
        <!-- / optional service -->

      <!-- Messages -->
      <div class="p-3">
        <h6 class="mb-3">Notes</h6>

        <div *ngIf="selected.notes">
          <div  class="ui-bordered py-2 px-3">
            {{selected.notes}}
          </div>
        </div>
        <div *ngIf="!selected.notes" class="text-lighter my-4">No notes</div>
      </div>
      <!-- / Messages -->

    </div>
  </div>
  <!-- / Clients sidebox -->

</div>
<!-- / Clients wrapper -->